{% load static %}
<!DOCTYPE html>
<html lang="en">
    <title>Books</title>
    <head>
        <meta charset="utf-8">
        
        
        <meta name="description" content ="This is about...">
        <meta name="viewport" content="width=device-width">
    
        <link rel="stylesheet" href="{% static 'books/styles.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'books:index' %}">Home</a></li>
                <li><a href="{% url 'books:my_books' user %}">My Books</a></li>
                <li>About</li>
                <li><a href="{% url 'books:add' %}">Add Books</a></li>
                {% if user.is_authenticated %}
                <li>Hey {{ user.username }}</li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}
        {% endblock %}

    </body>
</html>