{% extends "books/layout.html" %}


{% block body %}{% load static %}
{% if user.is_authenticated %}
<h3>Welcome {{ user }}!</h3>
{% else %}
<h3>Log in to view your books!</h3>
{% endif %}
<div id="all_books">
{% for book in my_books %}

{% if book.cover_url %}
    <a href="{% url 'books:add_title' book.isbn %}"><img src="{{ book.cover_url }}" ></a>

            
        
        {% else %}
                <div id="cover">
                    <a href="{% url 'books:add_title' book.isbn %}">{{ book.title }}</a>
                By {{ book.authors }}
                </div>
            
        {% endif %}
    
{% endfor %}
</div>
{% endblock %}