{% extends 'books/layout.html' %}

{% block body %}
    <h1>Add a new Book</h1>
    <form action="{% url 'books:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="search">
    </form>
    <div id="book_details">
        <div id="blur" style="--b: url({{ book.cover }})">    
        {% if book.cover %}
            
            <ul>
                <li><img src="{{ book.cover }}" ></li>                

            </ul>
        
        {% else %}
        <div id="cover">
            <ul>        
                <li>{{ book.title }}</li>
                <li>By {{ book.authors }}</li>
                
            </ul>
        </div>
        {% endif %}
    
        <ul>
            <li>Title: {{ book.title }}</li>
            <li>Author: {{ book.authors }}</li>
            <li>Publisher: {{ book.publisher }}</li>
            <li>Published: {{ book.published_date }}</li>
            <li>Number of Pages: {{ book.number_of_pages }}</li>
            
        </ul>
    </div>
</div>
    {% if user.is_authenticated %}
    <form action="{% url 'books:add_success' book.isbn user%}">
        <input type="submit" name="add_book_button" value="add to my books">
    </form>
   
    
    {% endif %}
{% endblock %}
